---
---

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
  background: #F0F0F0;
  font-family: 'Nanum Gothic', sans-serif;
}

#header {
  background-color: #F0F0F0; 
  height: 11em; 
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

#header h1 {
  font-size: 32pt;
  font-weight: bold;
  text-color: #666;
  margin-bottom: 6pt;
}

#header h2 {
  font-size: 24pt;
  text-color: #666;
  margin-top: 6pt;
  background-image: none;
}


#menu a {
  color: #666;
  margin-top: 12pt;
  margin-bottom: 12pt;
  margin-left: 4ex;
  margin-right: 4ex;
}

a {
  underline: none;
  color: #244b8a;
}

#main_strip {
  width: 100%;
  background-color: #FFF;
}

#main {
  max-width: 80%;
  
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5ex;
  padding: 4vw;
}

#mycontent h1 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 16pt;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: black;
  color: #CCC;
  padding-left: 4em;
}

