<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
 
<style type="text/css">

#myheader {
  background-color: #A0A0A0; 
  text-color: #666;
  height: 6em; 
  width: 100%;
}

#myheader h1 {
  font-size: 32pt;
}

#myheader h2 {
  font-size: 24pt;
}

#mymenu a {
  text-color: #666;
  margin-top: 12pt;
  margin-bottom: 12pt;
  margin-left: 1cm;
  margin-right: 1cm;
}

</style>
  </head>

  <body>

    <!-- HEADER -->
    <div id="myheader">
          <h1>Wyclif's Dust</h1>
	  <h2>An interpretation of Western cultures, from the printing press to the present</h2>
    </div>
    <div id="mymenu" style="height: 1.5em; background: #EEE; text-align: centre; width: 100%;">
      <a href="index.html">Home</a> 
      <a href="about.html">About</a>
      <a href="excerpts.html">Excerpts</a>
      <a href="author.html">Author</a>
      <a href="signup.html">Sign up</a>
    </div>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
	      <p class="copyright">&copy; David Hugh-Jones</p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>

